<% content_for :header do %>
  <% round_corners :width => "100%" do |rc| %>
    <h2>Let us know what you think</h2>
    <ul style="margin: 0px; padding-bottom: 10px;">
      <li>Your email address is required, but we'll only use it to contact you about this message; 
          we'll never sell it or give it to anyone else.</li>
    </ul>
  <% end %>
<% end %>

<p>Thanks for contacting us - we'll get back to you shortly.</p>

<p><%= link_to "Click here", home_url %> to return to the home page.</p>
