 
.daygrid
  td
    padding: 0px
    vertical-align: top

  .venuename
    font-size: 10px
    font-style: italic
    border-bottom: 1px solid black
    text-align: center

  .spacer
    padding: 0px
    margin: 0px
    
  .times div
    text-align: right
    font-size: 10px
    padding-right: 4px
    border-top: 1px solid black
    font-style: italic
    font-weight: bold
    white-space: nowrap
  
  .screening
    border: 1px solid black
    padding: 4px
    overflow: hidden
    cursor: pointer

    .name
      font-size: 10px
      font-weight: bold

    .tip
      display: none
      border: 1px solid black
      background-color: LightSkyBlue
    
    .flag
      float: right
      margin-left: 4px
      
  .screeningtime
    font-size: 10px  
    span
      white-space: nowrap

.legend li
  margin-bottom: 3px

.lowprio
  background: #ddd
.unranked
  background: #ddd
.unscheduled
  background: #fff396
.scheduled
  background: #bb9966
.otherscheduled
  background: #ddccaa
.revised
  font-size: 9px
  float: right
