// t, r, b, l !
body
  background-color: #fff
  color: #333
    
  // font-family: verdana, arial, helvetica, sans-serif
  font-size: 14px

h1,h2,h3,h4,ul
  margin-top: 8px
  margin-bottom: 5px
  
a:link,a:visited,a:active,a:hover
  color: #000
  text-decoration: underline
  
  img
    border: none
    
.navigation
  float: right
  font-size: 10px
  
.sitename
  font-size: 24px
  font-weight: bold
  padding-right: 10px
  a
    color: #000
    &:hover,&:visited
      color: #000
  
.festivalname
  font-size: 14px
  font-weight: bold
  
.festivaldates
  font-size: 10px

div.news_section
  padding-top: 8px

.ad_section
  float: right
  border: 1px solid #cccccc
  margin-left: 8px
  iframe
    margin: 4px
  #more_ads
    text-align: right
    padding-right: 4px
    padding-bottom: 2px
    font-size: small
    
    
.announcements
  list-style-type: none
.announcement
  .subject
    font-weight: bold
    font-size: 14px
  .date
    font-size: small

.ad_section
  width: 128px
  font-size: small
  text-align: center
  ul
    padding-left: 0px
  
  li
    list-style-type: none
    padding-left: 3px
    padding-right: 3px

#copyright
  font-size: small
  clear: both
  color: #888888
  text-align: center
