<% content_for :title do %>Forgot your username or password?<% end %>
<% content_for :header do %>
  <% round_corners :width => "100%" do |rc| %>
    <h2>Forgot your username or password?</h2>
    <p>No problem! We'll get you back in in a jiffy.</p>
  <% end %>
<% end %>

<% form_tag send_password_reset_path, :id => "forgot_form" do -%>

<p><label for="username">What's your username or email address?</label><br/>
<%= text_field_tag 'username' %></p>

<p><%= submit_tag 'Help me out' %></p>
<% end -%>
