<% content_for :title do %>Users<% end %>

<h2>All Users</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to h(user.username), user %><%= " (admin)" if user.admin %></td>
      <td><%= h(user.email) %></td>
      <td><%= link_to "send password reset",
                      send_password_reset_path(:email => user.email),
                      :method => :post %></td>
    </tr>
  <% end -%>
</table>
