@import config
// Top Right Bottom Left!

// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
// +blueprint-scaffolding("body.bp")
body //.bp
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form

// =============================================================================
//
// Festival Fanatic styles
//
// =============================================================================

//
// Mixins
//
@import "blueprint/grid"
@import "blueprint/typography"
@import "fancy-buttons"
@import "compass/css3/border-radius"
@import "compass/css3/gradient"
@import "compass/css3/box-shadow"

//
// My macros
//
=centered()
  margin-left: auto
  margin-right: auto

//
// Classes used across the site
//
body
  margin: 0px
  font-family: $content_family
  background-color: $substrate_background_color
  color: $substrate_color

  h1,h2,h3,h4
    font-family: $headline_family
  h1 // the site name in the header
    font-size: 2em
  h2 // the festival name (or page title)
    text-align: center
    font-size: 1.5em
    span // a subtitle on the same line
      +nowrap()
      margin-left: 1em
      font-size: 0.7em

  h3 // subheadings on the page
    font-size: 1.3em
    font-weight: bold
  h4
    font-size: 1.0em
    font-weight: bold


  a
    font-family: $control_family
    color: $text_color
    font-weight: bold
    text-decoration: none
    &:link,&:visited,&:active
      color: $text_color
      text-decoration: none
    &:hover
      color: $text_color
      text-decoration: underline

  .button
    +fancy-button($default_button_color)
    font-family: $control_family

  .flash
    +border-radius(5px)
    padding: 2px 4px
    &.notice
      border: 2px solid $notice_color
      background: hsl(hue($notice_color), saturation($notice_color), 90)
    &.success
      border: 2px solid $success_color
      background: hsl(hue($success_color), saturation($success_color), 90)
    &.warning
      border: 2px solid $warning_color
      background: hsl(hue($warning_color), saturation($warning_color), 90)
    &.error
      border: 2px solid $error_color
      background: hsl(hue($error_color), saturation($error_color), 90)
    &.urgent
      border: 2px solid $urgent_color
      background: hsl(hue($urgent_color), saturation($urgent_color), 90)

.filmlist
  div.dots
    width: 10em

  div.stars
    width: 10em

#navigation
  float: right
  font-size: 100%
  margin-top: 4px
  margin-right: 0
  li
    list-style-type: none
    list-style-image: none
    display: inline
    margin: 8px 0px 8px 16px
    font-family: "Droid Serif"
    font-weight: bold

#header
  margin-top: 10px
  margin-left: 20px
  margin: 10px 20px 10px 20px

.badbrowser
  +centered()
  +border-radius(5px)
  +box-shadow()
  width: 550px
  text-align: center
  font-size: 85%
  padding: 5px
  background-color: lighten(#FFB6C1, 10)
  color: red
  margin-top: 5px
  margin-bottom: 10px
  a
    color: red

.content
  +border-radius(7px)
  +box-shadow()
  margin: 10px 20px 10px 20px
  padding: 10px 20px 10px 20px
  background-color: white
  color: black
  position: relative
.content.hastabs
  margin-top: 30px

// we emit the nav links twice:
// Once to get the right visual appearance:
//   the clickable tabs have a negative z-order, and are shadowed
// then again to get clickability
//   the clickable tabs are transparent.
ul.navlinks
  position: absolute
  top: -1.85em // -27px
  margin: 0
  font-size: 1.1em
  padding-left: 0
  padding-top: 6px
  overflow: hidden
  li
    +border-top-radius(5px)
    position: relative
    margin: 5px
    padding: 0.2em 10px 0.2em 10px
    display: inline
    background-color: white
    a,span
      white-space: nowrap
      padding: 0.3em 3px 0.5em 3px
      font-family: $control_family
      color: $text_color
      font-weight: bold
  &.prefix
    li
      +box-shadow()
      z-index: -1
    li.current
      z-index: 10

  &.suffix
    height: 1.3em
    li.other
      +linear-gradient(color_stops(white, #f0f0f0))

#footer
  margin-top: 1em
  text-align: center

h2
  font-family: $headline_family
  font-size: 2.0em
  font-weight: bold
  margin-bottom: 10px
  margin-right: 10px

form.button-to,form.priority
  display: inline-block

.festivaldates
  font-family: $headline_family
  font-size: 1.5em
  
//
// Specific pages
//

// welcome/index

body.welcome_index
  .content
    +centered()
    width: 720px

    div
      margin-top: 15px

  #summary
    font-size: 120%
    h2
      font-weight: normal
      strong
        font-weight: bold
    li img
      float: right
  .button
    +fancy-button($big_green_button_color)
    font-family: $control_family
    font-size: 120%
    line-height: 1.6em
  #action
    text-align: center
    font-size: 110%
  #announcements
    margin-top: 25px

// The festival list
body.festivals_index
  .festival_section
    li
      list-style: none
      .name
        margin-top: 5px
        font-size: 120%
      .location
        margin-left: 5px
      .year

// The schedule page
body.festivals_show
  .daygrid
    td
      padding: 0px
      vertical-align: top

    .venuename
      font-size: 85%
      font-style: italic
      border-bottom: 1px solid black
      text-align: center

    .spacer
      padding: 0px
      margin: 0px

    .times div
      text-align: right
      font-size: 85%
      padding-right: 4px
      border-top: 1px solid black
      font-style: italic
      font-weight: bold
      white-space: nowrap

  .screening_details_base
    +border-radius(4px)
    // border: 1px solid black
    margin: 1px
    padding: 3px

    h3,h4
      margin-bottom: 0px

    .screeningtime
      span
        white-space: nowrap

  .screening
    @extend .screening_details_base
    cursor: pointer
    overflow: hidden

    .priority
      float: right
      margin-left: 4px


  .details
    @extend .screening_details_base
    +box-shadow()
    position: absolute
    z-index: 100
    h5
    .origin
      float: right
      margin-left: 4px
    .showtimes
      margin: 0
      padding: 0
      list-style-type: none
    .controls
      display: inline
      list-style-type: none

  #instructions
    margin-bottom: 1.5em
    p
      margin-bottom: 0.75em

    ul
      padding: 0 0 0 1em
      margin: 0

    #legend
      margin: 0
      padding-left: 1em
      width: 330px
      float: right
      list-style-type: none
      li
        @extend .screening_details_base
        margin: 3px
  #debugpanel
    form
      float: right

  .lowprio
    background-color: $lowpriority_color
    border: 3px solid $lowpriority_color
  .unranked
    background-color: $unranked_color
    border: 3px solid $unranked_color
  .unscheduled
    background-color: $unscheduled_color
    border: 3px solid $unscheduled_color
  .scheduled
    background-color: $scheduled_color
    border: 3px solid $scheduled_border_color
    padding: 2px
  .otherscheduled
    background-color: $other_scheduled_color
    border: 3px solid $other_scheduled_color

  .scheduled.example
    padding: 0px

  .revised
    font-size: 85%
    height: 1em
    span 
      white-space: nowrap
      float: right

// The public film-list (ranking) page
body.picks_index
  th
    font-weight: normal
  td
    vertical-align: top
  th.priorityguide
    text-align: center
    font-size: 85%
  th.sortguide
    width: 100%
    font-size: 85%
  td
    padding-bottom: 1em
  form
    display: inline
    white-space: nowrap
  .name
    font-weight: bold
  ul.screenings
    margin: 0px
    list-style-type: none
    padding-left: 1em
  ul.buzz
    margin: 0px
    list-style-type: none
    padding-left: 1em
    li
      .attribution
        font-style: italic
        font-size: 90%
  label,input
    cursor: pointer
  label
    font-size: 85%
    font-style: italic

// The assistant page
body.subscriptions_show,body.subscriptions_update
  li.locations
    p
      margin-bottom: 10px
    div
      padding-left: 8px
      display: inline-block
      white-space: nowrap
      width: 13em
    margin-bottom: 10px 

// the FAQ page
body.welcome_faq
  #me
    overflow: auto
    width: 100%

// The showhide goodie for toggling instructions
#showhide
  cursor: pointer
  float: right

// Announcements, on the front page or /announcements
li.announcement
  margin-bottom: 20px
  list-style: none
  .subject
    margin-bottom: 0
  .date
    margin-top: 0 !important
    margin-bottom: 3px
    font-size: 80%
  .contents
    margin: 0px 15px 0px 15px  !important

// Locations
ul#festival_locations
  li.location
    margin-bottom: 5px
    list-style: none
  a
    margin-left: 1em
    font-size: 85%
