<% content_for :title do %>Festival Films on DVD<% end %>
<% content_for :additional_stylesheets do %>
  <%= stylesheet_link_tag 'dvds', :media => 'screen, print' %>
<% end %>
<% content_for :header do %>
  <% round_corners :width => "100%" do |rc| %>
    <h2>Festival Films on DVD</h2>
    <ul style="margin: 0px; padding-bottom: 10px;">
      <li>Support this site by using these links to buy festival films on DVD from Amazon.com</li>
    </ul>
  <% end %>
<% end %>

<% amazon_choices = render_random_subset_with_caching(@controller, 
                      @amazon_films, nil, "films/amazon", 
                      @amazon_cache_key) %>
<% unless amazon_choices.empty? %>
  <ul class="dvds">
  <%= amazon_choices.join("\n") %>
  </ul>
<% end %>
