<% content_for :title do %>Oops<% end %>
<h2>Oops!</h2>
<p>Something went wrong with this request; a team of experts will be dispatched to investigate!</p>
<ul>
  <li><%= link_to "Click here", home_url %> to return to the main page.</li>
  <li><%= link_to "Click here", feedback_url %> to send us feedback about this problem.</li>
</ul>
