<%# The partial used to render one venue, as part of /festivals/1/locations %>
<% venue ||= venue_in_festival -%>

<li>
  <% div_for(venue) do %>
    <span class="name"><%= venue.name %></span>
    <span class="abbrev">("<%= venue.abbrev %>")</span>
    <%= link_to "Edit", festival_path(@festival) %>
    <%= link_to "Delete", festival_path(@festival) %>
  <% end %>
</li>
