<%# The partial used to render the venues list for a film, as part of /festivals/1/edit %>
<% venues ||= venues_in_festival -%>
<ul class="venues">
	<%= render :partial => "venues/venue_in_festival",
             :collection => venues.sort_by(&:name),
             :locals => { :festival => festival } %>
  <li><%= link_to "Add Venue", new_location_venue_path(festival) %></li>
</ul>
