<%# The partial used to render one venue, as part of /festivals/1/locations %>
<% venue ||= venue_in_festival -%>

<li>
  <% div_for(venue) do %>
    <span class="name"><%= venue.name %></span>
    <span class="abbrev">("<%= venue.abbrev %>")</span>
    <%= link_to "Edit", edit_venue_path(venue) %>
    <%= link_to "Delete", venue_path(venue),
                :method => :delete,
                :confirm => "Are you sure you want to destroy this venue, its screenings, user picks, etc.?" %>
<% end %>
</li>
