<%# One amazon tile for the front-page ad sidebar, or the amazon review page -%>
<% if (amazon_counter != amazon_limit rescue true) %>
  <li class="amazon_ad">
    <%= preamble rescue nil %>
    <% 
      if amazon.is_a? Film
        url = dvd_film_url(amazon)
        amazon = YAML.load(amazon.amazon_ad)
      else
        url = amazon[:url] # go direct
      end
      content = ""
      content += image_tag(amazon[:image], :height => amazon[:height], 
        :width => amazon[:width], :title => h(amazon[:title]), :alt =>" ") + "<br/>" \
        if amazon[:image]
      content += amazon[:title]
    %>
    <%= link_to content, url, :target => "_blank" %>
    <%= postamble rescue nil %>
  </li>
<% else %>
<div id="more_ads"><%= link_to "see all...", dvds_url %></div>
<% end %>
