<%# The partial used to render the film list within a /festivals/1/edit page -%>
<% films ||= films_in_festival -%>
<table id="festival_films">
  <% if films.empty? %>
	<tr><td><i>(No films yet)</i></td></tr>
  <% else %>
	<tr>
	  <th>Film</th>
	  <th>Minutes</th>
	  <th>Screenings</th>
	  <th>Link</th>
	</tr>
  <%= render :partial => "films/film_in_festival", :collection => films.sort_by(&:name),
             :locals => { :festival => festival } %>
  <% end %>
</table>
