<% content_for :title do %>Auto-scheduling <%= @festival.name %><% end %>
<% content_for :header do %>
  <%= render :partial => "festivals/header", :locals => { :festival => @festival, :hide_tabs => true} %>
<% end %>

<h3>Automatically scheduling: please hang on for a moment.</h3>
<p><%= image_tag "busy.gif" %>This can take a little while... we'll switch you back to the festival schedule when the scheduling process finishes.</p>

<%# A dummy form, which we submit as soon as the page loads %>
<% form_tag poly_schedule_continue_festival_url(@festival, 
              :unselect => @subscription.unselect), 
     :id => "schedule_continue_form" do end %>
<% content_for("page_scripts") do %>
  jQuery(function() { jQuery('#schedule_continue_form').submit(); });
<% end -%>
