<html>
  <body>
    <p>
      Hi <%= @user.username %>,
    </p>
    <p>
      Thanks for signing up at Festival Fanatic! I hope it can help you
      get more out of your film festival experience.
    </p>

    <p>
      Please let me know if you have problems with the site, corrections to
      the schedules there, or ideas on how to make the site better.
    </p>

    <p>
      Thanks!<br/>
      ... Bryan Stearns<br/>
    </p>

    <p>
      ---<br/>
      <%= link_to h("festfan@festivalfanatic.com"),
                  "mailto:festfan@festivalfanatic.com" %><br/>
      <% link = home_url(:host => "festivalfanatic.com") -%>
      <%= link_to h(link), link %>
    </p>
  </body>
</html>
