<html>
  <body>
    <p>Hello <b><%= @user.login %></b>,</p>

    <p>
      You (or someone claiming to be you) requested to reset your Festival Fanatic
      password; to do so, click this link:
    </p>

    <p>
      <% reset_url = reset_password_url(@user, @user.crypted_password, 
                                        :host => "festivalfanatic.com") %>
      <%= link_to reset_url, reset_url %>
    </p>

    <p>
      If you did not ask to reset your password, you can safely ignore this message.
    </p>

    <p>
      Thank you,<br/>
      Festival Fanatic</br>
      <%= link_to "http://festivalfanatic.com", "http://festivalfanatic.com" %>
    </p>
  </body>
</html>
