      <div id="<%= dom_id(film) %>_dots" class="dots"></div>
      <%
      form_id = "#{dom_id(film)}_pick"
      form_for [film, pick],
               :url => film_picks_path(film, :format => :js),
               :html => { :method => :post, :class => "priority",
                          :id => form_id } do |f| %>
        <%= hidden_field_tag 'attribute', "priority" %>
        <%= f.hidden_field(:priority, :id => "#{dom_id(film)}_priority") %>
      <% end %>
