      <div id="<%= dom_id(film) %>_stars" class="stars"></div>
      <%
         form_id = "#{dom_id(film)}_rating"
         form_for [film, pick],
                  :url => film_picks_path(film, :format => :js),
                  :html => { :method => :post, :class => "rating",
                             :id => form_id } do |f| %>
        <%= hidden_field_tag 'attribute', "rating" %>
        <%= f.hidden_field(:rating, :id => "#{dom_id(film)}_rating") %>
      <% end %>
