<%# One festival on the front page, or in the list on /festivals -%>
<li>
  <%= link_to_if festival.scheduled, h(festival.name), 
      festival_path(festival, :landing => 1) %>
  <%= "(coming soon!)" unless festival.scheduled %>
  <div class="details"> <%= h("#{festival.location}, ") unless festival.location.blank? %><%= festival.dates %></div>
</li>
