<%# The header for publicly-visible Festival pages: 
    /festivals/x, /festivals/x/films/, etc. -%>
<%= render :partial => "application/tabs",
           :locals => {
             :tabs => [
               ["1. Your Film Priorities", festival_priorities_path(@festival)],
               ["2. Scheduling Assistant", festival_assistant_path(@festival)],
               ["3. Your Festival Schedule", festival_path(@festival)]
             ],
             :hide_tabs => hide_tabs
           } %>

<h2>
  <div><%= @festival.name %></div>
  <span><%= @festival.location %> &mdash; <%= @festival.dates %></span>
</h2>

