<%# Create a new festival -%>
<% content_for :title do %>New Festival<% end %>

<h2>New Festival</h2>

<%= error_messages_for :festival %>

<% form_for(@festival) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit "Create", :class => "button" %>
  </p>
<% end %>

<%= link_to 'Back', festivals_path %>
