<% hide_tabs ||= nil
   unless hide_tabs -%>
    <% content_for :tab_items do -%>
        <% tabs.each do |label, url| -%>
            <% if current_page?(url) -%>
                <li class="current"><span><%= label %></span></li>
            <% else -%>
                <li class="other"><%= link_to label, url %></li>
            <% end -%>
        <% end -%>
    <% end -%>

    <% content_for :tabs do %>
        <ul class="navlinks prefix">
            <%= yield :tab_items %>
        </ul>
        <ul class="navlinks suffix">
            <%= yield :tab_items %>
        </ul>
    <% end -%>
<% end -%>
