<%# The partial used to render one festival's locations, as part of /festivals/1/locations %>
<% locations ||= locations_in_festival -%>

<% if locations.empty? -%>
<p><i>(No locations yet)</i></p>
<% else %>
  <ul id="festival_locations">
    <%= render :partial => "locations/location_in_festival",
               :collection => locations.sort_by(&:name),
               :locals => { :festival => festival } %>

    <li>
      <%= link_to "Add a location", new_festival_location_path(festival) %>
    </li>
  </ul>
<% end %>
